In [5]:
#1.Write a code to create a string with your name and print it

# Create a string with your name
name = "Yash Zagade"

# Print the string
print("My name is:", name)

My name is: Yash Zagade

In [6]:
#2.Write a code to find the length of the string "Hello World"

# Define the string
text = "Hello World"

# Find the length using len() function
length = len(text)

# Print the length
print("Length of the string:", length)

Length of the string: 11

In [7]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"

# Define the string
text = "Python Programming"

# Slice the first 3 characters (index 0 to 2)
sliced_text = text[0:3]

# Print the result
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

In [9]:
#4.Write a code to convert the string "hello" to uppercase

# Define the string
text = "hello"

# Convert to uppercase
uppercase_text = text.upper()

# Print the result
print("Uppercase:", uppercase_text)

Uppercase: HELLO

In [11]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"

# Define the string
text = "I like apple"

# Replace "apple" with "orange"
new_text = text.replace("apple", "orange")

# Print the result
print("Updated string:", new_text)

Updated string: I like orange

In [12]:
#6.Write a code to create a list with numbers 1 to 5 and print it

# Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

In [13]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]

# Original list
numbers = [1, 2, 3, 4]

# Append 10 to the list
numbers.append(10)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

In [14]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

# Original list
numbers = [1, 2, 3, 4, 5]

# Remove number 3
numbers.remove(3)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

In [15]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the result
print("Second element:", second_element)

Second element: b

In [16]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].

# Original list
numbers = [10, 20, 30, 40, 50]

# Reverse the list
numbers.reverse()

# Print the reversed list
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

In [17]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it.

# Create a tuple
my_tuple = (100, 200, 300)

# Print the tuple
print("Tuple:", my_tuple)

Tuple: (100, 200, 300)

In [18]:
#12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element using negative indexing
second_last = colors[-2]

# Print the result
print("Second-to-last element:", second_last)

Second-to-last element: blue

In [19]:
#13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

# Define the tuple
numbers = (10, 20, 5, 15)

# Find the minimum number
min_value = min(numbers)

# Print the result
print("Minimum number:", min_value)

Minimum number: 5

In [20]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

# Define the tuple
animals = ('dog', 'cat', 'rabbit')

# Find the index of "cat"
cat_index = animals.index('cat')

# Print the result
print("Index of 'cat':", cat_index)

Index of 'cat': 1

In [21]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

# Create a tuple with fruits
fruits = ('apple', 'banana', 'mango')

# Check if "kiwi" is in the tuple
is_kiwi_present = 'kiwi' in fruits

# Print the result
print("Is 'kiwi' in the tuple?", is_kiwi_present)

Is 'kiwi' in the tuple? False

In [22]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

# Create a set
my_set = {'a', 'b', 'c'}

# Print the set
print("Set:", my_set)

Set: {'c', 'b', 'a'}

In [23]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

# Define the set
numbers = {1, 2, 3, 4, 5}

# Clear all elements from the set
numbers.clear()

# Print the cleared set
print("Cleared set:", numbers)

Cleared set: set()

In [24]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

# Define the set
numbers = {1, 2, 3, 4}

# Remove the element 4
numbers.remove(4)

# Print the updated set
print("Updated set:", numbers)

Updated set: {1, 2, 3}

In [25]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

# Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union of the sets
union_set = set1.union(set2)

# Print the result
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

In [26]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

# Define the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection of the sets
intersection_set = set1.intersection(set2)

# Print the result
print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

In [27]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

# Create the dictionary
person = {
    "name": "Yash",
    "age": 23,
    "city": "Pune"
}

# Print the dictionary
print("Dictionary:", person)

Dictionary: {'name': 'Yash', 'age': 23, 'city': 'Pune'}

In [28]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

# Original dictionary
person = {'name': 'John', 'age': 25}

# Add a new key-value pair
person['country'] = 'USA'

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [29]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

# Define the dictionary
person = {'name': 'Alice', 'age': 30}

# Access the value of the key "name"
name_value = person['name']

# Print the result
print("Value of 'name':", name_value)

Value of 'name': Alice

In [30]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

# Define the dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key "age"
del person['age']

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

In [31]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

# Define the dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Check if "city" exists
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [32]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {'name': 'Yash', 'age': 23, 'city': 'Mumbai'}

# Print all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Yash', 'age': 23, 'city': 'Mumbai'}

In [33]:
#27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [25, 29, 38, 58, 100]

In [34]:
#28. Write a code to create a list with strings and print the element at the third index.

# Create a list with strings
fruits = ["apple", "banana", "cherry", "mango", "orange"]

# Print the element at the third index
print("Element at index 3:", fruits[3])

Element at index 3: mango

In [35]:
#29. Write a code to combine two dictionaries into one and print the result.

# Define two dictionaries
dict1 = {'name': 'Yash', 'age': 23}
dict2 = {'city': 'Mumbai', 'country': 'India'}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the result
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Yash', 'age': 23, 'city': 'Mumbai', 'country': 'India'}

In [36]:
#30. Write a code to convert a list of strings into a set.

# Create a list of strings
string_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert the list to a set
string_set = set(string_list)

# Print the set
print("Converted Set:", string_set)

Converted Set: {'apple', 'cherry', 'banana'}